*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main control of the overall border */

main{
    margin: 1rem 3rem;
    border: 3px solid black;
    border-radius: 1rem;
    /* height: 100vh; */
}

/* the nav and header section  */

header{
    display: flex;
    justify-content: space-between;
}

.left-header{
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;
}

span{
    margin-left: 0.4rem;
    padding-top: 3px;
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.right-header{
    display: flex;
    margin:left auto;
    margin-right: 3rem;
    margin-top: 2.3rem;

}

.right-header a{
    padding-right: 0.5rem;
}

a{
    text-decoration: none;
}

img{
    width: 2rem;
    height: 2rem;
}

/* frontend section */

.frontend-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frontend{
    font-size: 6rem;
    font-weight: 800;
    margin-top: 2rem;
    font-style: italic;
}

.html{
    color: gray;
    font-size: 1.4rem;
    margin-bottom: 3rem;
}


.portfolio-box {
  display: flex;
  border: 2px solid #000;
  border-left: none;
  border-right: none;
}

/* All columns */
.column {
  padding: 16px;
  border-right: 2px solid #000;
}

/* Remove border on last column */
.column:last-child {
  border-right: none;
}

/* Headings */
h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-style: oblique;
}

/* Projects list */
.projects ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.roadmap{
    font-style: oblique;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: gray;
}

.opensource{
    font-style: oblique;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: gray;
}

.course{
    font-style: oblique;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: gray;
}

.comments{
    margin-bottom: 0.3rem;
}

a{
    color: #000;
}

.projects li {
  padding: 8px 0;
  border-bottom: 1px solid #000;
}

.projects li:last-child {
  border-bottom: none;
}

/* Work experience blocks */
.block {
  border-top: 1px solid #000;
  padding-top: 12px;
  margin-top: 12px;
}

.block a {
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 900;
  color: #0987f5d2;
}

/* Education list */
.education ul {
  padding-left: 16px;
  list-style: none;
}

.education p{
    margin-bottom: 0.7rem;
}

.cards{
    margin: 0 3rem;
    display: flex;
    justify-content: space-between;
}

.review{
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    margin: 1rem 3rem;
}

.left-card{
    border: 1px solid black;
    border-radius: 1rem;
    width: 24rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.left-card div{
    margin-top: 0.5rem;
    color: grey;
}

.mid-card{
    border: 1px solid black;
    border-radius: 1rem;
    width: 24rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    /* line-height: 1.9; */
}

.mid-card div{
    margin-top: 0.5rem;
    color: grey;
}


.right-card{
    border: 1px solid black;
    border-radius: 1rem;
    width: 24rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.right-card div{
    margin-top: 0.5rem;
    color: grey;
}

footer{
    margin-top: 7rem;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    font-style: oblique;
}


/* RESPONSIVE PHONE SCREEN */

@media (max-width: 600px) {

  /* MAIN CONTAINER */
  main {
    margin: 1rem;
    border-radius: 0.7rem;
  }

  /* HEADER */
  header {
    flex-direction: column;
    align-items: center;
  }

  .left-header {
    margin: 1rem 0;
  }

  .right-header {
    margin: 0 0 1rem 0;
  }

  /* FRONTEND SECTION */
  .frontend {
    font-size: 3rem;
    text-align: center;
  }

  .html {
    font-size: 1rem;
    text-align: center;
  }

  /* PORTFOLIO BOX */
  .portfolio-box {
    flex-direction: column;
  }

  .column {
    border-right: none;
    border-bottom: 2px solid #000;
  }

  .column:last-child {
    border-bottom: none;
  }

  /* CARDS SECTION */
  .cards {
    flex-direction: column;
    margin: 0 1rem;
  }

  .left-card,
  .mid-card,
  .right-card {
    width: 100%;
    margin-right: 0;
    font-size: 1.1rem;
  }

  /* REVIEW TITLE */
  .review {
    font-size: 1.2rem;
    margin: 1rem;
    text-align: center;
  }

  /* FOOTER */
  footer {
    margin-top: 3rem;
    font-size: 1.1rem;
  }

}


